// input>.ng-invalid {
//     background-color: rgb(238, 155, 155);
// }

form {
    @apply flex flex-col justify-center items-center
}

input, select {
    margin: 0;
    
}

button {
    @apply rounded-md  py-2 px-4 border border-transparent text-center text-sm 
    text-slate-400 transition-all shadow-md hover:shadow-lg
    focus:bg-slate-700/20 focus:shadow-none active:bg-slate-700 hover:bg-slate-700/30 
    active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2
}

.full-name {
    display: flex;
    gap: 1rem;
}



.error-message {
    color: rgb(238, 155, 155);

    @apply mt-2 text-xs
}
